@import './global.css';

@layer components {
    .catalog {
        @apply border-base-content/40 border-t-2 divide-base-300 divide-y flex flex-col max-w-6xl mx-auto;

        .catalog-list {
            @apply gap-2 grid
                md:gap-8 md:grid-cols-2 lg:grid-cols-3 lg:col-span-2;

            a {
                @apply list-item ml-4 md:flex md:ml-0;
            }
        }

        .catalog-section {
            @apply flex flex-col gap-2 p-8
                md:gap-0 md:grid md:grid-cols-2 md:py-8 lg:grid-cols-3 xl:px-0;

            .catalog-section-header {
                @apply font-bold text-lg tracking-widest uppercase;
            }
        }
    }
}
