@import "tailwindcss";
@import '@fontsource-variable/roboto';
@import '@fontsource-variable/roboto-condensed';

@theme {
	--default-font-family: "Roboto";
	--font-condensed: "Roboto Condensed", sans-serif;
}

@layer base {
	a {
		@apply hover:underline;
	}

	blockquote {
		@apply bg-zinc-50 px-4 py-2 rounded-lg text-lg
			md:px-8 md:py-4 md:text-center
			dark:bg-zinc-700;
	}

	body {
		@apply text-base text-zinc-800
			dark:bg-zinc-800 dark:text-zinc-100;
	}

	input:not([type="checkbox"]):not([type="radio"]), select, textarea, ::picker(select) {
		@apply appearance-none bg-zinc-50 border border-zinc-300 duration-200 min-h-8 outline-none px-3 py-1 ring-zinc-500 rounded-md shadow-sm shadow-zinc-200 transition w-full
			focus:ring-2
			dark:bg-zinc-700 dark:border-zinc-600 dark:shadow-zinc-900;
	}

	input[type="checkbox"], input[type="radio"] {
		@apply mr-1;
	}

	input[type="checkbox"], input[type="radio"], select {
		@apply cursor-pointer;
	}

	label:has(input,select,textarea) {
		@apply cursor-pointer;
	}

	select {
		&[multiple] {
			@apply h-48 p-1;
		}

		&:open {
			@apply opacity-50 ring-2;
		}

		option {
			@apply appearance-none cursor-pointer m-1 outline-none px-3 py-2 rounded-md whitespace-break-spaces
				hover:bg-zinc-200
				dark:hover:bg-zinc-600 dark:text-zinc-300;

			&:checked {
				@apply bg-zinc-700 font-bold text-zinc-50
				dark:bg-zinc-500;
			}

			&::checkmark {
				@apply hidden;
			}
		}
	}

	select, ::picker(select) {
		appearance: base-select;
	}

	::picker(select) {
		@apply my-2 p-1 ring ring-zinc-500 shadow-xl w-auto;
	}

	textarea {
		@apply min-h-36 py-2;
	}
}

@layer components {
	.btn {
		@apply bg-zinc-800 font-medium inline-flex px-6 py-3 rounded-full text-zinc-50;
	}
}
