@import "tailwindcss";
@import '@fontsource-variable/roboto';
@import '@fontsource-variable/roboto-condensed';
@plugin "daisyui" {
	themes: bumblebee --default, dark --prefersdark;
};

@theme {
	--default-font-family: "Roboto";
	--font-condensed: "Roboto Condensed", sans-serif;
}

@layer base {
	a {
		@apply transition-colors underline;
	}

	blockquote {
		@apply bg-base-200 px-4 py-2 rounded-lg text-lg
			md:px-8 md:py-4 md:text-center;
	}

	body {
		@apply text-lg;
	}

	label:has(input,select,textarea) {
		@apply cursor-pointer;
	}

	select {
		&[multiple] {
			@apply h-48!;
		}
	}
}

@layer components {
	.box {
		@apply border border-b-base-300 flex flex-col gap-8 mx-auto px-8 py-6 rounded-md;
	}
}

@utility card-actions {
	@apply mt-2;
}

@utility card-body {
	@apply gap-8 text-lg;
}

@utility card-border {
	@apply border-base-300;
}

@utility fieldset {
	@apply p-0;
}

@utility fieldset-legend {
	@apply m-0 p-0 pb-1;
}

@utility input {
	@apply w-auto;
}

@utility radio {
	@apply mr-2;
}

@utility select {
	@apply w-auto;
}

@utility textarea {
	@apply min-h-40 w-auto;
}
