@import './global.css';

@layer base {
    .second-level {
        h1 {
            @apply font-bold font-condensed text-6xl text-zinc-400;
        }

        h2 {
            @apply font-bold font-condensed !mb-4 !mt-12 text-3xl text-zinc-400;
        }

        .footnotes ol {
            @apply border-zinc-500 border-t flex flex-col gap-1 list-decimal mt-16 p-4;
        }

        .footnotes ol li {
            @apply pl-2;
        }

        .sr-only {
            @apply hidden;
        }
    }
}
