@import './global.css';

@layer base {
    .second-level {
        h1 {
            @apply font-bold font-condensed text-8xl;
        }

        h2 {
            @apply font-bold font-condensed -mb-2 mt-6 text-4xl;
        }

        h3 {
            @apply font-bold font-condensed leading-none text-xl;
        }

        .footnotes {
            ol {
                @apply border-zinc-500 border-t flex flex-col gap-1 list-decimal mt-8 p-4;

                li {
                    @apply pl-2;

                    p {
                        @apply overflow-ellipsis truncate;
                    }
                }
            }
        }

        .sr-only {
            @apply hidden;
        }
    }
}
