@import './global.css';

@layer base {
    .second-level {
        a {
            @apply underline;
        }

        h1 {
            @apply font-bold font-condensed text-6xl text-zinc-700 dark:text-zinc-500;
        }

        h2 {
            @apply font-bold font-condensed mb-4! mt-12! text-3xl text-zinc-600 dark:text-zinc-400;
        }

        h3 {
            @apply font-bold font-condensed leading-none my-8! text-xl text-zinc-600 dark:text-zinc-400;
        }

        input:not([type="checkbox"]):not([type="radio"]), select, textarea, ::picker(select) {
            @apply bg-zinc-50 dark:bg-zinc-700;
        }

        .footnotes ol {
            @apply border-zinc-500 border-t flex flex-col gap-1 list-decimal mt-16 p-4;
        }

        .footnotes ol li {
            @apply pl-2;
        }

        .sr-only {
            @apply hidden;
        }
    }
}
