@import './global.css';

@layer base {
    .second-level {
        h1 {
            @apply font-bold font-condensed text-8xl text-zinc-500 dark:text-zinc-600;
        }

        h2 {
            @apply font-bold font-condensed mb-4! mt-12! text-4xl text-zinc-600 dark:text-zinc-500;
        }

        h3 {
            @apply font-bold font-condensed leading-none my-8! text-xl text-zinc-700 dark:text-zinc-400;
        }

        input:not([type="checkbox"]):not([type="radio"]), select, textarea, ::picker(select) {
            @apply bg-zinc-50 dark:bg-zinc-700;
        }

        .footnotes {
            ol {
                @apply border-zinc-500 border-t flex flex-col gap-1 list-decimal mt-16 p-4;

                li {
                    @apply pl-2;

                    p {
                        @apply overflow-ellipsis truncate;
                    }
                }
            }
        }

        .sr-only {
            @apply hidden;
        }
    }
}
