---
import Layout from '../layouts/second-level.astro';
import SecondaryHeading from '../components/secondary-heading.astro';
import TertiaryHeading from '../components/tertiary-heading.astro';
---

<Layout heading="About us.">
	<p>
		Aim for NaN stems from the idea of refusing to be just another number in this world.
		I'll be honest: It becomes tiring watching so many people waste away in this world, who seem to have no intention or desire for self improvement.
		And that includes myself.
		Worse still is watching the very same complain about their own situation while doing nothing about it.
		The issue, more often than not, isn't lacking the capacity to make a difference.
		The issue is being unwilling to make an effort.
	</p>
	<p>
		For as long as the breath of life abide in you, your capacity to make an effort towards making a difference in your life is the same as anyone elses.
		The amount of energy that the average person has at their disposal significantly surpasses that of my own.
		It is simply a waste, and on some level an insult, to spend it all on nothing.
		Worse still are those who use that energy to do foolish things.
		Better to do nothing than to do something foolish.
		But better still is to do something worthy of doing than nothing at all.
	</p>
	<TertiaryHeading>This is what people with energy do.</TertiaryHeading>
	<p>
		Social media is full of things that people with energy do, from the most wholesome to the most depressing, and everything in between.
		There is no shortage of things to do on this earth, and if it could be done, then it probably has already been done.
		Take a step back for just a moment and observe it all.
		Contemplate carefully on what you see and say to yourself, "This is what people with energy do."
		After coming to this realization, ask yourself perhaps the most life-changing question that anyone might ever ask themselves.
	</p>
	<p class="font-medium text-center text-xl">
		"Is this really what I want to do?"
	</p>
	<p>
		Indeed, take notice of the fact that you had to spend valuable time doing nothing but viewing social media before you ever considered self-reflection. 
		Likewise, take notice of the fact that perhaps prior to this moment you would find yourself fully engaged in social media.
		Take part in the practice of introverts known as introspection.
		Think about all the years that have gone by and what you have been doing and what you have seen others do.
		"This is what people with energy do."
	</p>
	<p>
		Out of all the things that people with energy do, what was the most worthy of doing?
		What can you bring to the world?
		And what do you have to offer to yourself?
		"Nothing" is not answer except for those who are unwilling to make an effort.
		Shall one wallow in self pity that they might fulfill their desire of least effort?
		Or shall they recognize that they have two hands and two feet?
		"This is what people with energy do."
	</p>
</Layout>
