---
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import Header from '../components/header.astro';
---

<html lang="en">
	<Head />
	<body class="flex flex-col gap-16 min-h-screen">
		<Header heading="Aim for NaN" subheading="Your source for winning at life." />
		<main class="container flex flex-1 flex-col mx-auto">
			<section>
				<header class="font-bold font-condensed text-4xl">
					<h2>Introducing the gut microbiota&hellip;</h2>
				</header>
			</section>
		</main>
		<Footer />
	</body>
</html>
