---
import Layout from '../layouts/top-level.astro';
import SectionHeader from '../components/section-header.astro';
import SecondaryHeading from '../components/secondary-heading.astro';
import TopLevelArticle from '../components/top-level-article.astro';
import TopLevelSection from '../components/top-level-section.astro';
---

<Layout>
	<TopLevelSection>
		<TopLevelArticle href="/microbiome" heading="Aim for the gut" subheading="Introducing the gut microbiota&hellip;">
			<p>
				Housing hundreds of trillions of microbes, the gut has become an area of great importance, and has gained significant scientific interest.
				The impact that the gut microbiome has on our health is so great that they have come to be known as our &ldquo;second organ.&rdquo;
				Yet, the science hasn't even begun scratching the surface to understanding the many mechanisms by which the microbiome impact their environment.
			</p>
			<p>
				We aim to provide extensive overviews of the latest available research of the many and various species that impact our lives today. 
			</p>
			<Fragment slot="see-more">
				<b class="text-4xl">Microbiome</b>
				<span>Learn more about individual species here&hellip;</span>
			</Fragment>
		</TopLevelArticle>
		<TopLevelArticle href="/nutrition" heading="Aim for nutrition" subheading="Setting a standard for health&hellip;">
			<p>
				With the microbiome working in your favor you are better able to extract the nutrients present in food.
				These nutrients are essential for everyday bodily functions.
				With so many fads and diets out there it becomes clear that there is a great lack of understanding on what constitutes a healthy diet and lifestyle.
				We hope to fill that gap and correct any misconceptions.
			</p>
			<p>
				We aim to provide extensive overviews of the known nutrients present in food so you can make informed decisions toward your health. 
			</p>
			<Fragment slot="see-more">
				<b class="text-4xl">Nutrition</b>
				<span>Learn more about individual nutrients and sources here&hellip;</span>
			</Fragment>
		</TopLevelArticle>
	</TopLevelSection>
</Layout>
