---
import Layout from '../layouts/top-level.astro';
import SectionHeader from '../components/section-header.astro';
import SecondaryHeading from '../components/secondary-heading.astro';
import TopLevelArticle from '../components/top-level-article.astro';
import TopLevelSection from '../components/top-level-section.astro';
---

<Layout>
	<TopLevelSection>
		<TopLevelArticle href="/gut" heading="Aim for the gut." subheading="Our second brain&hellip;">
			<p>
				Housing hundreds of trillions of microbes, the gut has become an area of great importance, and has gained significant scientific interest.
				The impact that the gut microbiome has on our health is so great that they have come to be known as our &ldquo;second organ.&rdquo;
				Yet, the science hasn't even begun scratching the surface to understanding the many mechanisms by which the gut and the microbiome impact our health.
			</p>
			<p>
				We aim to provide extensive overviews of the latest available research of the many and various species that impact our lives today. 
			</p>
			<Fragment slot="see-more">
				<b class="text-4xl">The human gut.</b>
				<span>Learn more about the gut and its inhabitants here.</span>
			</Fragment>
		</TopLevelArticle>
		<TopLevelArticle href="/nutrition" heading="Aim for nutrition." subheading="Essential for life&hellip;">
			<p>
				With the microbiome working in your favor you are better able to extract the nutrients present in food.
				These nutrients are essential for everyday bodily functions.
				With so many fads and diets out there it becomes clear that there is a great lack of understanding on what constitutes a healthy diet and lifestyle.
				We hope to fill that gap and correct any misconceptions.
			</p>
			<p>
				We aim to provide extensive overviews of the known nutrients present in food so you can make informed decisions toward your health. 
			</p>
			<Fragment slot="see-more">
				<b class="text-4xl">Nutrition.</b>
				<span>Learn more about individual nutrients and sources here.</span>
			</Fragment>
		</TopLevelArticle>
	</TopLevelSection>
	<TopLevelSection>
		<TopLevelArticle class="text-center">
			<SecondaryHeading>Our mission.</SecondaryHeading>
			<p>
				To empower people's lives with the knowledge to live long and healthy lives,<br/>
				giving them the strength, energy and wisdom needed to make a difference.
			</p>
			<p>
				<a class="font-medium text-lg" href="/about">Learn more about what motivates me to make a difference. &rarr;</a>
			</p>
		</TopLevelArticle>
	</TopLevelSection>
</Layout>
