---
---

<footer class="bg-zinc-50 flex flex-col gap-4 items-center p-8 lg:p-16 dark:bg-zinc-900">
	All content is freely available at GitHub.
	<a class="github-button" href="https://github.com/AimForNaN/aimfornan.com" data-icon="octicon-star" data-show-count="true" data-size="large" aria-label="Star AimForNaN/aimfornan.com on GitHub">Star</a>
</footer>
