---
const {
	description = "",
	title = "",
} = Astro.props;
const site_title = import.meta.env.PUBLIC_SITE_TITLE;

function strip_entities(str) {
	return String(str).replace(/&[^;]+;/, '');
}
---

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{strip_entities(title)} | {site_title}</title>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
