---
import PrimaryHeading from './primary-heading.astro';

const {props} = Astro;
const { class: className } = props;
---

<header class="px-8 py-12 text-center lg:p-32" class:list={[className]}>
	<hgroup class="flex flex-col gap-2">
		{props.heading && <PrimaryHeading>{props.heading}</PrimaryHeading>}
		{props.subheading && <p class="text-2xl text-zinc-500 lg:text-3xl">{props.subheading}</p>}
	</hgroup>
</header>
