---
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import PrimaryHeading from '../components/primary-heading.astro';

const {
	frontmatter,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head />
	<body class="divide-y flex flex-col min-h-screen">
		<Nav />
		<main class="second-level flex-1">
			<article class="max-w-6xl mx-auto p-8 py-16 space-y-8 md:px-16 lg:px-32 lg:py-24">
				<PrimaryHeading>{frontmatter.title}</PrimaryHeading>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
