---
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import Header from '../components/header.astro';

import '../styles/global.css';

const {
	heading = 'Aim for NaN',
	subheading = 'Be the change you want to see.',
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={heading} />
	<body class="divide-zinc-200 divide-y flex flex-col min-h-screen dark:divide-zinc-600">
		<Header heading={heading} subheading={subheading} />
		<main class="divide-zinc-200 divide-y flex flex-1 flex-col dark:divide-zinc-600">
			<slot />
		</main>
		<Footer />
	</body>
</html>
