---
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import Header from '../components/header.astro';

import '../styles/global.css';

const {
	heading = 'Aim for NaN',
	subheading = 'Be the change you want to see.',
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head description={subheading} title={heading} />
	<body class="divide-base-300 divide-y flex flex-col min-h-screen">
		<main class="divide-base-300 divide-y flex flex-1 flex-col">
			<Header heading={heading} subheading={subheading} />
			<slot />
		</main>
		<Footer />
	</body>
</html>
